# ==========================================
# 1. Arquivos de Sistema Operacional (OS)
# ==========================================

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
Desktop.ini
$RECYCLE.BIN/

# ==========================================
# 2. IDEs e Editores de Código (VS Code, IntelliJ, Eclipse)
# ==========================================
.idea/
*.iml
*.iws
.vscode/
*.swp
*.swo
.metadata/
bin/
tmp/
*.tmp
*.bak

# ==========================================
# 5. Variáveis de Ambiente e Segurança
# ==========================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
